
:root {
  background-color: rgb(135, 206, 235);
}
h3{
	background-color:black;
	color:white;
}


p:nth-of-type(2) {
  color: black;
}

p:last-of-type {
  color: red;
}

ul li {
  width: 50%;
  padding: 10px;
  background-color: gray;
}


ul li:nth-child(odd) {
  background-color: white;
}


ul li:first-child,
ul li:last-child {
  font-size: 22px;
}


ul li:nth-last-child(3) {
  background-color: pink;
}
