body {
  background: linear-gradient(
    to right,
    rgb(173, 216, 230),
    rgb(158, 210, 232)
  );
}
.c{
color:red;	
}
ul{
	padding:10px
}
.l1{
	width:50%;
	background-color:white;
	font-size:22px
	padding:10px
}

.l5{
	width:50%;
	background-color:white;
	font-size:22px
}

.l2{
	width:50%;
	background-color:gray;
}

.l4{
	width:50%;
	background-color:gray;
}

.l3{
	width:50%;
	background-color:pink;
}